@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dashboard";
}



<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">

    <div style="min-height: 60vh" class="pt-5 m-auto ">
        <h2>Welcome, Admin!</h2>
        <p>This is the admin dashboard where you can manage users and system data.</p>
    </div>
</div>




